
<html lang="en" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main">
        <section class="p">
            <h1>VS<span>Cube</span></h1>
            <p>With just a click of the button summarize press releases!!! </p>
        </section>

          <section class="button_section">
              <button type="button" id="button1" class="button1"><a href="./page1">COPY PASTE</a></button>
              <button type="button" id="button2" class="button2"><a href="./page2">UPLOAD IMAGE</a></button>
              <button type="button" id="button3" class="button3"><a href="./page3">UPLOAD URL</a></button>
          </section>

    </main>

</body>

<script>

</script>


</html>